<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    {% if title %}
        <title>НеTwitter - {{ title }}</title>
    {% else %}
        <title>НеTwitter</title>
    {% endif %}
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="/">НеTwitter</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              {% if current_user.is_authenticated %}
              <a class="nav-item nav-link" href="{{ url_for('new_post') }}">New Post</a>
              {% endif %}
              <a class="nav-item nav-link" href="{{ url_for('home') }}">Home</a>
              <a class="nav-item nav-link" href="{{ url_for('about') }}">About</a>
            </div>
            <!-- Navbar Right Side -->
            {% if current_user.is_authenticated %}
                <a class="navbar-brand mr-4" href="{{ url_for('account') }}"> 
                  <img class="rounded-circle avatar-img" src="{{ url_for('static', filename='profile_pics/' + current_user.image) }}">
                </a>
                <div class="navbar-nav">
                <a class="nav-item nav-link" href="{{ url_for('logout') }}"> ({{ current_user.username }}) Logout</a>
              {% else %}
              <div class="navbar-nav">
                <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
                <a class="nav-item nav-link" href="{{ url_for('register') }}">Register</a>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          {% block content %}{% endblock %}
        </div>
        <div class="col-md-4">
          <div class="content-section">
            <h3>Most Popular Posts</h3>
            <ul class="list-group">
            <h6 class="list-group-item list-group-item-light" style="text-align: center;">Today</h6>
            {% for reply in replies %}
              <a class="list-group-item list-group-item-light mr-link" href="{{ url_for('post', post_id=reply.id) }}"> {{ reply.title }}</a>
            {% endfor %}

            <h6 class="list-group-item list-group-item-light" style="text-align: center;">All Time</h6>
              </ul>
            <h3>Most Popular Posts</h3>
            <ul class="list-group">
              <h6 class="list-group-item list-group-item-light" style="text-align: center;">Today</h6>
            {% for like in likes %}
              <a class="list-group-item list-group-item-light mr-link" href="{{ url_for('post', post_id=like.id) }}"> {{ like.title }}</a>
            {% endfor %}

            <h6 class="list-group-item list-group-item-light" style="text-align: center;">All Time</h6>
              </ul>
          </div>
        </div>
      </div>
    </main>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type=text/javascript>
      function reply_click(clicked)
      {
      const button = document.getElementById(clicked);
      const placer = document.getElementById(clicked+'s');
      var post_link = '/post/'+clicked+'/like/';

          console.log(button.classList)
          if (button.classList.contains("liked")) {
            button.classList.remove("liked");
            $.getJSON(post_link, 'reaction=dislike', function(data) {
            var h_value = data[clicked];
            $(placer).html(h_value);
            });
            } 
          else {
            button.classList.add("liked");
            $.getJSON(post_link, 'reaction=like', function(data) {
            var h_value = data[clicked];
            $(placer).html(h_value);
            });
            }
        }
  </script>
      <script>
        function overlayImg(id){ //получает id поста, проверка есть ли в нем картинка, открытие оверлея
          var postImg = document.querySelectorAll('.post-img'); //поиск css класса post-img (переменная для insertBefore)
          var images = document.getElementById(id+'_image'); //получение ссылки на изображение по айди
          console.log(id)
          if (images == null) {
            
          } else {
          var elements = document.getElementsByClassName('site-header');
          var sp2 = elements[0];
          var parentDiv=sp2.parentNode;
    
  
            var imgOverlay = document.createElement('div');
            imgOverlay.style.width = window.innerWidth + 'px';
            imgOverlay.style.height = window.innerHeight + 'px';
            imgOverlay.style.backgroundColor = "rgba(0, 0, 0, 0.9)";
            imgOverlay.style.position = "fixed";
            imgOverlay.style.left = 0 + 'px';
            imgOverlay.style.right = 0 + 'px';
            imgOverlay.style.top = 0 + 'px';
            imgOverlay.style.zIndex = '9999';
    
            var img = document.createElement('img');
            img.src = images.src;
            console.log(img.height > window.innerHeight)
            
            if (img.height > window.innerHeight) {
              var aspect = img.width / img.height;
              var y = 0;
              var x = (window.innerWidth - (window.innerHeight*aspect))/2;
              img.style.position = "absolute";
              img.style.left = x + 'px';
              img.style.top = y + 'px';
              img.style.height = window.innerHeight  + "px";
              img.style.width = window.innerHeight*aspect + "px";
            }
            else {


            var x = (window.innerWidth - img.width)/2;
            var y = (window.innerHeight - img.height)/2;
            img.style.position = "absolute";
            img.style.left = x + 'px';
            img.style.top = y + 'px';
            console.log(window.innerWidth)
            console.log(window.innerHeight)
            console.log(img.width)
            console.log(img.height)
          }
  
            imgOverlay.appendChild(img);
    
            var sp1 = document.body.appendChild(imgOverlay);
            parentDiv.insertBefore(sp1, sp2);
  
            img.addEventListener('click', function(){
              if(imgOverlay){
              imgOverlay.parentNode.removeChild(imgOverlay)
              }
          });
        }
      }
      </script>
</script>
</body>
</html>